<!-- <div
  *ngFor="let task of getFilteredTasks(todoTasks, todoSortOrder)"
  cdkDrag
  class="bg-white dark:bg-gray-800 shadow-md rounded-xl p-4 border border-gray-200 dark:border-gray-700 cursor-move"
>
  <div class="flex items-center mb-1">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-4 w-4 mr-2 text-gray-400 cursor-grab"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <line x1="18" y1="20" x2="6" y2="20"></line>
      <line x1="18" y1="14" x2="6" y2="14"></line>
      <line x1="18" y1="8" x2="6" y2="8"></line>
    </svg>
    <h3
      class="font-semibold text-lg"
      [class.text-gray-800]="!isDarkMode"
      [class.text-white]="isDarkMode"
    >
      {{ task.title }}
    </h3>
  </div>

  <p class="text-sm text-gray-500 dark:text-gray-400 mb-4">
    Priority: {{ task.priority }}
  </p>
</div> -->
<div
  cdkDrag
  class="bg-white dark:bg-gray-800 shadow-md rounded-xl p-4 border border-gray-200 dark:border-gray-700 cursor-move"
>
  <!-- [ngClass]="getTaskColor(task.status)" -->
  <div class="flex justify-between items-start mb-2">
    <!-- <p
      class="text-xs font-medium rounded-md p-1 uppercase"
      [ngClass]="
        getCategoryColorClass(task.category).bgClass +
        ' ' +
        getCategoryColorClass(task.category).textClass
      "
    >
      {{ task.category || 'No Label' }}
    </p> -->
    <button class="text-gray-400 hover:text-gray-600 text-2xl font-light">
      ...
    </button>
  </div>

  <div class="flex items-center mb-1">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-4 w-4 mr-2 text-gray-400 cursor-grab"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <line x1="18" y1="20" x2="6" y2="20"></line>
      <line x1="18" y1="14" x2="6" y2="14"></line>
      <line x1="18" y1="8" x2="6" y2="8"></line>
    </svg>
    <h3
      class="font-semibold text-lg"
      [class.text-gray-800]="!isDarkMode"
      [class.text-white]="isDarkMode"
    >
      {{ task.title }}
    </h3>
  </div>

  <p class="text-sm text-gray-500 dark:text-gray-400 mb-4">
    Priority: {{ task.priority }}
  </p>

  <div class="flex justify-start items-center space-x-[-8px]">
    <img
      src="https://api.dicebear.com/9.x/initials/svg?seed=VM"
      alt="VM Avatar"
      class="w-8 h-8 rounded-full border-2 border-white dark:border-gray-800"
    />
    <img
      src="https://api.dicebear.com/9.x/initials/svg?seed=AG"
      alt="AG Avatar"
      class="w-8 h-8 rounded-full border-2 border-white dark:border-gray-800"
    />
  </div>
</div>
