<div *ngIf="isOpen" class="fixed inset-0 z-50 flex items-center justify-center">

    <div
      class="fixed inset-0 bg-gray-50 opacity-85"
      (click)="onClose()"
      aria-hidden="true"
    ></div>
  
    <div
      class="bg-white rounded-xl shadow-2xl w-full max-w-lg relative z-10"
      role="dialog"
      aria-modal="true"
      tabindex="0"
    >
      <button
        (click)="onClose()"
        class="absolute top-3 right-3 text-gray-400 hover:text-gray-600 transition"
        aria-label="Close modal"
      >
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
  
      <ng-content></ng-content>
    </div>
  </div>
  